<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Vue Project</title>
</head>
<body>

    <div id='app'>
        <h1>Hello vue!</h1>
        {{ msg }}
        <br/>
        <a v-if="authorized" v-bind:href="link">Vue</a>
        <br/>
        <p>{{ number }}</p>
        <div v-show="number >= 0">
            <p v-if="number == 0">Zero</p>
            <p v-else-if="number <= 4">Low</p>
            <p v-else-if="number <= 7">Mid</p>
            <p v-else="number > 7">High</p>
        </div>
        <ul>
            <li v-for="book in books" :key="book.id">
                {{ book.title }} &nbsp; {{ book.year }}
            </li>
        </ul>
        <button v-on:click="addUp">Click me!</button>
    </div>

    <script>
        const app = new Vue({
            el : '#app',
            data : {
                msg : "Hello from data!",
                link : "http://www.vuejs.org",
                authorized : true,
                number: 0,
                books : [
                    {id: 0, title: "Don Quixote", year: 1605}, 
                    {id: 1, title: "A Tale of Two Cities", year: 1859}, 
                    {id: 2, title: "The Lord of The Rings", year: 1954}
                    ]
            },
            methods: {
                addUp: function() {
                    if (this.number>=0 && this.number<10) {
                        this.number += 1;
                    } else {
                        this.number = 0;
                    }
                }
            }
        });
    </script>
</body>
</html>